@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the base theme for the entire application */
body {
  background-color: #111827; /* This corresponds to Tailwind's bg-gray-900 */
  color: #f9fafb; /* This corresponds to Tailwind's text-gray-50 */
  min-height: 100vh;
}

/* You can add any other global custom styles here if needed */
